body{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

label{
    text-align: left;
    align-items: left;
    justify-content: left;
    padding-bottom: 10px;
}

.champ {
    display: flex;
    justify-content: center;
    background-color: lightgrey;
    width: 200px;
    height: 20px;
    border: 10px lightgrey;
    border-radius: 10px;
    gap: 20px;
    padding: 10px;
}

#message {
    height: 100px;
}

button {
    background-color: #2f4f5f;
    border: 20px;
    gap: 10px;
}