@font-face {
  font-family: "Cabinet";
  src: url("../fonts/CabinetGrotesk-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Clash";
  src: url("../fonts/ClashDisplay-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}


* {
    /*Empêche le défilement horizontal*/
    box-sizing: border-box; 
}

body{
    display:flex;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
    font-family: Arial, sans-serif;
}

main{
    display:flex;
    align-items: center;
    flex-direction: column;
}

/*TITRES*/
h1 {
    font-family: "Cabinet" , sans-serif;
    font-size: 60px;
    color: #000;
}

h2 {
    font-family: 'Clash', sans-serif;
    font-size: 35px;
    color: #000;
}

h3 {
    font-family: 'Cabinet', sans-serif;
    font-size: 25px;
    color: #000;
}

p {
    font-family: Arial, sans-serif;
    font-size: 20px;
    color: #000;
}

/*TITRE FORMAT MOBILE*/
@media (max-width: 768px) { 
    
h1 {
    font-family: "Cabinet" , sans-serif;
    font-size: 35px;
    color: #000;
}

h2 {
    font-family: 'Clash', sans-serif;
    font-size: 25px;
    color: #000;
}

h3 {
    font-family: 'Cabinet', sans-serif;
    font-size: 20px;
    color: #000;
}

p {
    font-family: Arial, sans-serif;
    font-size: 14px;
    color: #000;
}
}



/*FORMULAIRE CONTACT + MODIFIERAVIS*/

form{
    width:100%;
}
label{
    text-align: left;
    align-items: left;
    justify-content: left;
    padding-bottom: 10px;
}

.champ {
    display: flex;
    justify-content: center;
    background-color: lightgrey;
    width:100%;
    border: 10px lightgrey;
    border-radius: 2px;
    padding: 10px;
}

#message {
    height: 100px;
}

button {
    background-color: #2f4f5f;
    border: 20px;
    gap: 10px;
}

/* HEADER */

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 40px;
    background-color: #ffffff;
    border-bottom: 1px solid #ddd;
    position: sticky;
    top: 0;
    z-index: 1000;
    width: 100%;
}

/* LOGO */
.logo {
    height: 50px;
    margin-left: 50px;
}

/* MENU */
.menu-desktop {
    display: flex;
    gap: 150px;
}

.menu-desktop a {
    text-decoration: none;
    padding-bottom: 5px;
    color: #000;
    font-size: 18px;
    display: inline-block;
    padding: 8px 16px;
    border-bottom: 2px solid transparent;
    transition: border-color 0.3s;
}

.menu-desktop a:hover {
    border-bottom-color: #2f4f5f;
}

.menu-burger {
    display:none;
}

/* ZONE DROITE */
.header-droit-desktop {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-right: 20px;
}

/* TELEPHONE */
.phone {
    background-color: #2f4f5f;
    color: white;
    padding: 8px 14px;
}

/* BOUTON CONTACT */
.bouton {
    background-color: #2f4f5f;
    color: white !important;
    padding: 8px 18px;
}

.bouton:hover {
    background-color: #162b36;
}


@media (max-width: 768px) {

    /*Cachet le menu pour desktop*/
    .menu-desktop, 
    .header-droit-desktop {
        display: none;
    }

    /*Afficher les éléments du menu burger*/
    .menu-burger {
        display: block;
        position: relative;
    }

    .nav-burger {
        display: none;
        position: absolute; /*Pour que la div se place au dessus des autres dans les déplacer*/
        top: 100%;
        right: 0;
        background-color: #ffffff;
        min-width: 200px;
        flex-direction: column;
    }

    .nav-burger a {
        padding: 15px 20px;
        text-decoration: none;
        color : black;
        font-size: 16px;
    }

}

/*FOOTER*/
footer {
  display: flex;
  flex-direction: row;
  padding: 40px 20px;
  justify-content: space-between; 
  width: 90%;
  bottom: 0;
  background-color: white;
}

.footer-menu{
    flex: 1;
}


.footer-logo img{
    display: flex;
    justify-content: left;
    width: 60px;
    align-items:flex-start;
    margin: 20px
}

.footer-menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footer-menu a {
  text-decoration: none;
  color: #202020;
  font-size: 16px;
  transition: color 0.3s;
}

/* --- LE HOVER --- */
.footer-menu a:hover {
  color: #2F4F5F;
}

/* --- LE BLOC DE DROITE --- */
.footer-droite {
  margin-left: auto;
  display: flex;
  flex-direction: column;
  text-align: right;
  align-content: end;
}

.footer-address p {
  margin: 0; 
  margin-bottom: 15px;
  font-size: 18px;
}

.footer-rs {
  display: flex;
  gap: 15px;
}

.footer-rs img {
  width: 32px;
  height: auto;
}


/* PAGE HISTOIRE */
.histoire {
    width: 90%;
    margin: auto;
}

/* Aï-Ki-Do */
.aikido-mots {
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin-bottom: 50px;
}

.aikido-mots h2 {
    font-size: 90px;
    margin-bottom: 5px;
       
}

.aikido-mots p {
    font-size: 14px;

}

.fondateur-contenu {
    display: flex;
    gap: 40px;
}

.fondateur img {
    width: 250px;
    height: 250px;
}

.texte-histoire{
text-align:justify;
}

.fondateur{
text-align:justify;
}

/* Cartes */

.grades-section {
    margin: 80px 0;
}

/* Grille */
.grade-grille {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 20px;
    width: 100%;
    margin-top: 40px;
}

/* Carte */
.carte {
    background-color: #000; 
    color: #fff; 
    border: 1px solid #000;
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: all 0.3s ease; /* transition pour hover */
}

/* Hover */
.carte:hover {
    background-color: #fff;
    color: #000;
    transform: scale(1.03);
}

/* Titre */
.carte-header {
    margin-bottom: 20px;
}

.carte-header h3 {
    font-size: 16px;
    font-weight: bold;
}

/* Texte */
.carte-body p {
    font-size: 14px;
}


/*Carte stage*/

@media (max-width: 768px) {
    #listeCompleteStages {
    grid-template-columns: repeat(1, 1fr);
    }
}

.search-container {
    display: flex;
    justify-content: center;
    padding: 40px 20px;
}

/* Style du champ de saisie */
#inputRecherche {
    width: 100%;
    max-width: 600px;
    padding: 12px 20px;
    font-size: 20px;
    border: 2px solid #ddd;
    outline: none;
}

/* Effet au clic (focus) */
#inputRecherche:focus {
    border-color: #2F4F5F;
}

#inputRecherche::placeholder {
    color: #aaa;
    font-style: italic;
}

#listeCompleteStages {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    width: 100%;
    margin-top: 40px;
}

#listeCompleteStages a {
    text-decoration: none;
}
.cartestage{
    background-color: lightgrey;
    text-align: left;
    width: 300px;
    height: 400px;
    align-content: end;
    padding-left: 20px;
} 

.cartestage h3 {
    text-align: left;
    color: black;
}

.cartestage p {
    color:#000;
}

/*PAGE ARTICLE STAGE*/

/* On cible l'image dans la div */

main.articlestage {
    display: flex;
    flex-direction: column;
    align-items: center; 
    width: 100%;
}
.articlestage img {
    width: 100%;     
    height: 40vh;      
    object-fit: cover; 
    object-position: center;
    display: block;
}

main.articlestage div {
    width: 90%;          /* Indispensable pour voir le centrage sur mobile */
    max-width: 600px;    /* Largeur de lecture confortable sur ordinateur */
    text-align: center;    /* Aligne les lignes à gauche à l'intérieur du bloc */
}
main.articlestage p{
    text-align: left;
}

.articlestage h1, 
.articlestage h2 {
    text-align: center;
    width: 100%;
    margin-top: 20px;
}