@font-face {
  font-family: "Cabinet";
  src: url("../fonts/CabinetGrotesk-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Clash";
  src: url("../fonts/ClashDisplay-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}


* {
    /*Empêche le défilement horizontal*/
    box-sizing: border-box; 
}

body{
    display:flex;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

main{
    display:flex;
    align-items: center;
    flex-direction: column;
    flex: 1;
}

/*TITRES*/
h1 {
    font-family: "Cabinet" , sans-serif;
    font-size: 60px;
    color: #000;
}

h2 {
    font-family: 'Clash', sans-serif;
    font-size: 35px;
    color: #000;
}

h3 {
    font-family: 'Cabinet', sans-serif;
    font-size: 25px;
    color: #000;
}

p {
    font-family: Arial, sans-serif;
    font-size: 20px;
    color: #000;
}

/*TITRE FORMAT MOBILE*/
@media (max-width: 768px) { 
    
h1 {
    font-family: "Cabinet" , sans-serif;
    font-size: 35px;
    color: #000;
}

h2 {
    font-family: 'Clash', sans-serif;
    font-size: 25px;
    color: #000;
}

h3 {
    font-family: 'Cabinet', sans-serif;
    font-size: 20px;
    color: #000;
}

p {
    font-family: Arial, sans-serif;
    font-size: 14px;
    color: #000;
}
}



/*FORMULAIRES CONTACT + MODIFIERAVIS + CONNEXION*/

form{
    width:100%;
}
label{
    text-align: left;
    align-items: left;
    justify-content: left;
    padding-bottom: 10px;
}

.champ {
    display: flex;
    justify-content: center;
    background-color: lightgrey;
    width:100%;
    border: 10px lightgrey;
    border-radius: 2px;
    padding: 10px;
}

#message {
    height: 100px;
}

button {
    background-color: #2f4f5f;
    border: 20px;
    gap: 10px;
}

.container-boutons {
    display: flex;      
    justify-content: center;
    gap: 20px;
}

@media (max-width: 768px) { 
    .container-boutons {
    display: flex; 
    flex-wrap:wrap;
    }

    label{
    text-align:center;
    }

}

/* HEADER */

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 40px;
    background-color: #ffffff;
    border-bottom: 1px solid #ddd;
    position: sticky;
    top: 0;
    z-index: 1000;
    width: 100%;
}

/* LOGO */
.logo {
    height: 50px;
    margin-left: 50px;
}

/* MENU */
.menu-desktop {
    display: flex;
    gap: 150px;
}

.menu-desktop a {
    text-decoration: none;
    padding-bottom: 5px;
    color: #000;
    font-size: 18px;
    display: inline-block;
    padding: 8px 16px;
    border-bottom: 2px solid transparent;
    transition: border-color 0.3s;
}

.menu-desktop a:hover {
    border-bottom-color: #2f4f5f;
}

.menu-burger {
    display:none;
}

/* ZONE DROITE */
.header-droit-desktop {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-right: 20px;
}

/* TELEPHONE */
.phone {
    background-color: #2f4f5f;
    color: white;
    padding: 8px 14px;
}

/* BOUTON CONTACT */
.bouton {
    background-color: #2f4f5f;
    color: white !important;
    padding: 8px 18px;
}

.bouton:hover {
    background-color: #162b36;
}


@media (max-width: 768px) {

    /*Cachet le menu pour desktop*/
    .menu-desktop, 
    .header-droit-desktop {
        display: none;
    }

    /*Afficher les éléments du menu burger*/
    .menu-burger {
        display: block;
        position: relative;
    }

    .nav-burger {
        display: none;
        position: absolute; /*Pour que  div se place au dessus des autres dans les déplacer*/
        top: 100%;
        right: 0;
        background-color: #ffffff;
        min-width: 200px;
        flex-direction: column;
    }

    .nav-burger a {
        padding: 15px 20px;
        text-decoration: none;
        color : black;
        font-size: 16px;
    }

}

/*FOOTER*/
footer {
  display: flex;
  flex-direction: row;
  padding: 40px 20px;
  justify-content: space-between; 
  width: 90%;
  bottom: 0;
  background-color: white;
}
/* Footer logo */
.footer-logo img{
    display: flex;
    justify-content: left;
    width: 60px;
    align-items:flex-start;
    margin: 20px
}

.footer-menu ul {
  list-style: none;
  display: flex;
  flex-direction: column;
}

.footer-menu a, .footer-address a {
  text-decoration: none;
  color: #202020;
  font-size: 14px;
  transition: color 0.3s;
}

/* --- LE HOVER --- */
.footer-menu a:hover, .footer-address a:hover {
  color: #2F4F5F;
}

/*  LE BLOC DE DROITE*/
.footer-droite {
  margin-left: auto;
  display: flex;
  flex-direction: column;
  text-align: right;
  align-content: end;
  margin-top : 15px;
}


.footer-rs {
  display: flex;
  gap: 15px;
  margin-top : 15px;
}

.footer-rs img {
  width: 32px;
  height: auto;
}


@media (max-width: 768px) {
    footer{
        flex-direction: column;
    }

    .footer-droite{
        text-align: left;
        align-content: start; 
    }

}


/* PAGE HISTOIRE */
.histoire {
    width: 100%;
    margin: auto;
}


/* PAGE HISTOIRE */

/* Aï-Ki-Do */
.aikido-mots {
    background-image: url('../img/banniere_page_histoire.png');
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mot  {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 40px;
    
}

.aikido-mots h2 {
    font-size: 90px;
    margin-bottom: 5px;
    color: white;       
}

.aikido-mots p {
    font-size: 14px;
    color: white;
}

.texte-histoire, .fondateur, .texte-grade {
    text-align: justify;
}

.texte-histoire {
    width: 80%;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

.fondateur{
    width: 80%;
    justify-content: center;
    align-items: center;

}

.fondateur-contenu {
    display: flex;
    gap: 40px;
}

.fondateur img {
    width: 250px;
    height: 250px;
    margin-top: 30px;
    object-fit: cover;
}

/* Cartes */

.grades-section {
    margin: 40px 0;
    width: 80%;
}

/* Grille */
.grade-grille {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 20px;
    width: 100%;
    margin-top: 40px;
}

/* Carte */
.carte {
    background-color: #000; 
    color: #fff; 
    border: 1px solid #000;
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    transition: all 0.3s ease; /* transition pour hover */
}

/* Hover */
.carte:hover {
    background-color: #fff;
    color: #000;
    transform: scale(1.03);
}

/* Titre */
.carte-header {
    margin-bottom: 20px;
}

.carte-header h3 {
    font-size: 16px;
    font-weight: bold;
}

/* Texte */
.carte-body p {
    font-size: 14px;
}


/*Carte stage*/

.carte h3, .carte p {
    color: white;
}

.carte:hover h3, .carte:hover p {
    color: black;
}

/* PAGE COURS */
.titre-cours {
    background-image: url('../img/banniere_page_cours.png');
    width: 100%;
    height: 400px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.texte_asso{
    width: 80%;
    text-align: justify;
    justify-content: center;
    margin-bottom: 30px;
    margin-top: 20px;
}

.container{
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.image-cours{
    display: flex;
    height: 400px;
    width: auto;
    justify-content: flex-start;
    margin-left: 143px;
}

.info-cours h3, .info-cours p {
    margin: 0; 
}

.info-cours {
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 5px; 
}

.info-cours p {
    margin-left: 33px; /* décale texte en dessous titre */
    margin-top: 0px;
    margin-bottom: 10px; 
}

/* Icones */
.icone {
    width: 20px;
    vertical-align: middle;
    margin-right: 8px;
}

.tarifs {
    width: 80%;
    text-align: center;
}

/* S'nscrire */

.btn-inscription {
    display: inline-block;
    margin: 40px auto;
    padding: 10px 20px;
    background-color: #2f4f5f;
    color: white;
    text-decoration: none;
    font-size: 16px;
}

/* Grille */
.grade-grille {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 20px;
    width: 100%;
    margin-top: 40px;
}

.tarif-grille {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    width: 100%;
    margin-top: 40px;
    justify-content: space-around;
}

.carte h2,
.carte p {
    color: #fff;
}

/* Quand hover → texte noir */
.carte:hover h2,
.carte:hover p {
    color: #000;
}

.carte {
    background-color: #000; 
    border: 1px solid #000;
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: all 0.3s ease; /* transition pour hover */
}

/* Hover */
.carte:hover {
    background-color: #fff;
    color: #000;
    transform: scale(1.03);
}

/* Titre */
.carte-header {
    margin-bottom: 20px;
}

.carte-header h3 {
    font-size: 16px;
    font-weight: bold;
}

/* Texte */
.carte-body p {
    font-size: 14px;
}

/*Page stage*/
.search-container {
    display: flex;
    justify-content: center;
    padding: 40px 20px;
}

/* Style du champ de saisie */
#inputRecherche {
    width: 100%;
    max-width: 600px;
    padding: 12px 20px;
    font-size: 20px;
    border: 2px solid #ddd;
    outline: none;
}

/* Effet au clic (focus) */
#inputRecherche:focus {
    border-color: #2F4F5F;
}

#inputRecherche::placeholder {
    color: #aaa;
    font-style: italic;
}

.liste-stage{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 80%;
    gap: 10px;
}

#listeCompleteStages a{
    text-decoration: none;
}

.resultat {
    display: grid;
    grid-template-columns: repeat(4, 300px);
    width: 100%;
    gap: 10px;
}

.resultat a {
    text-decoration: none;
}
@media (max-width: 768px) {
    .liste-stage, .resultat {
        display: grid;
    grid-template-columns: repeat(1, 1fr);
    }
}

/*Page association*/
.titre-assoc{
    margin-top: 0;
    margin-bottom: 2px;
    text-align: center;
}
.sous-titre-assoc{
    margin-top: 0;
    margin-bottom: 2px;
    text-align: center;
}
.paragraphe-assoc{
    margin-top: 0;
    text-align: center;
}
.Thomas-presentation {
    width: 80%;
    text-align: justify;
    justify-content: center;
    margin-bottom: 30px;
    margin-top: 20px;
}

.galerie_photoscouleur {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    width: 80%; 
    margin: 40px auto;
    box-sizing: border-box;
}

.galerie_photoscouleur img {
    display: block;
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.test-carrousel {
  width: 100%;
  max-width: 600px;   
  height: 400px;      
}

.test-carrousel img {
  width: 100%;
  height: 100%;
}

#btnSuivant {
  margin-top: 10px;
}

.video-aikido {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    margin-top: 50px;
    width: 100%;
}

@media (max-width: 768px) {
    .galerie_photoscouleur {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    }

    .test-carrousel {
  width: 80%;
  max-width: 500px;   
  height: auto;      
}
}

/*PAGE ARTICLE STAGE*/

/* On cible l'image dans la div */

main.articlestage {
    display: flex;
    flex-direction: column;
    align-items: center; 
    width: 100%;
}
.articlestage img {
    width: 100%;     
    height: 40vh;      
    object-fit: cover; 
    object-position: center;
    display: block;
}

main.articlestage div {
    width: 90%;          /* Indispensable pour voir le centrage sur mobile */
    max-width: 600px;    /* Largeur de lecture confortable sur ordinateur */
    text-align: center;    /* Aligne les lignes à gauche à l'intérieur du bloc */
}
main.articlestage p{
    text-align: left;
}

.articlestage h1, 
.articlestage h2 {
    text-align: center;
    width: 100%;
    margin-top: 20px;
}


/*PAGE INDEX*/

.prof, .assoc{
    display:flex;
    flex-direction : row;
    align-items:center;
    justify-content: center;
    gap : 5%;
    margin-left : 10%;
    margin-right : 10%;
    margin-top : 3%;
}

.prof-droite, .assoc-gauche {
    flex-direction : column;
}

.prof img, .assoc img{
    width:110%;
}

.prof h2{
    margin : 0;;
}


.banniere-index{
    background-image: url('../img/301_banniere_couteau.png');
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction : column;
    justify-content: center;
    align-items: center;
    margin: 0;
}


.banniere-index h1, .banniere-index h3 {
    color:white;
    margin : 0;
}

/* Responsive page cours */
@media screen and (max-width: 768px) {
.titre-cours {
    height: 200px;
    background-size: cover;
    background-position: center;
    text-align: center;
    padding: 20px;
}

.titre-cours h1 {
    font-size: 22px;
}

.container {
    flex-direction: column;
    align-items: center;
}

.image-cours {
    margin-left: 0;
    justify-content: center;
    height: auto;
}

.image-cours img {
    width: 90%;
    height: auto;
}

.info-cours {
    width: 90%;
    margin-top: 20px;
}

.tarif-grille {
    grid-template-columns: 1fr;
}

.texte_asso,
.tarifs {
    width: 90%;
}
}

/* Responsive page histoire */
@media screen and (max-width: 768px) {

.aikido-mots{
    height: 200px;
    width: 100%;
    background-size: cover;
    background-position: center;
    text-align: center;
}

.titre-cours h1 {
    font-size: 22px;
}

.aikido-mots h2 {
    font-size: 50px;
}

.mot {
    margin: 15px;
}

.fondateur-contenu {
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.fondateur img {
    width: 200px;
    height: 200px;
    margin-top: 10px;
}

.grade-grille {
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
}

.carte {
    padding: 20px 15px;
}
}
